html {
	background: #6D5E51;
}

a.no, a.gif {
	text-decoration: none;
}

body{
	font-family: monospace;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #EEEEEE;
	text-shadow: 2px 2px grey;
}

hr {
	border-color: Burlywood;
	height: 1px;
	width: 700px;
	margin-bottom: 1px;
}

h6.buttons {
	font-size: 17px;
	font-family: Monospace;
	text-align: center;
	text-shadow: 3px 3px black;
	margin-top: 3px;
	margin-bottom: 0px;
	color: #E6CDAE;
}

h6 {
	font-size: 17px;
	color: BlanchedAlmond;
	text-align: center;
}
